<div class="cards-section">
  <div class="card-warpper">
    <app-basic-card [title]="'Fun'" [description]="'fun'" [imgUrl]="'asd'"></app-basic-card>
  </div>
  <div class="card-warpper">
    <app-basic-card [title]="'Fun'" [description]="'fun'" [imgUrl]="'asd'"></app-basic-card>
  </div>
  <div class="card-warpper">
    <app-basic-card [title]="'Fun'" [description]="'fun'" [imgUrl]="'asd'"></app-basic-card>
  </div>
  <div class="card-warpper">
    <app-basic-card [title]="'Fun'" [description]="'fun'" [imgUrl]="'asd'"></app-basic-card>
  </div>
</div>
